@import "../../assets/styles/colors";

.header {
  padding: 2rem 3.5rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  h3 {
    font-weight: 900;
    font-size: 1.25rem;
    margin: 0;
    color: $primary-color;
  }
}
