@import "../../assets/styles/colors";
@import "../../assets/styles/mixins";
@import "../../assets/styles/constants";

.container {
  position: fixed;
  top: 2rem;
  right: 2rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0.75rem;
  z-index: 5;
}

.toast {
  max-width: 250px;
  min-width: 200px;
  width: 20%;
  padding: 1rem 1.5rem;
  border-radius: $toast-radius;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  margin: 0;

  svg {
    width: 1.25rem;
    height: 1.25rem;
  }

  span {
    flex: 1;
  }

  @include hover-lighten;
}

.normal {
  background-color: $toast-background-color;
  color: $toast-color;
}

.success {
  background-color: $toast-success-background-color;
  color: $toast-success-color;
}

.failure {
  background-color: $toast-failure-background-color;
  color: $toast-failure-color;
}

.slideIn {
  left: 125%;
  opacity: 0;

  &Active {
    left: 0;
    opacity: 1;
    transition: left 0.5s, opacity 0.5s;
  }
}

.slideOut {
  left: 0;
  opacity: 1;

  &Active {
    left: 125%;
    opacity: 1;
    transition: left 0.5s, opacity 0.5s;
  }
}
