@import "./assets/styles/colors";

.layout {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(to bottom, white, rgba($primary-color, 0.1));
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.pageContent {
  padding: 0.5rem 3.5rem;
}

@media (max-width: 768px) {
  .layout {
    padding-bottom: 100px;
  }
}
