$primary-color: #08c;
$primary-light-color: rgba(#08c, 0.15);
$primary-dark-color: #303757;
$toast-background-color: #d8ecf4;
$toast-success-background-color: #9cc981;
$toast-failure-background-color: #c45454;
$border-color: #dedfe4;
$increasing-color: #27c5ab;
$decreasing-color: #cc009c;
